In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df=pd.read_csv('weatherAUS.csv')

In [33]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [34]:
df=df.drop('Date',axis=1)

In [35]:
df.isnull().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
le=LabelEncoder()
for i in df.columns:
    df[i]=le.fit_transform(df[i])

In [38]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,213,262,6,358,145,13,21,13,14,...,71,22,215,232,8,10,224,262,0,0
1,2,153,284,0,358,145,14,21,6,15,...,44,25,244,239,10,10,227,287,0,0
2,2,208,290,0,358,145,15,22,13,15,...,38,30,214,248,10,2,265,276,0,0
3,2,171,313,0,358,145,4,10,9,0,...,45,16,314,290,10,10,236,309,0,0
4,2,254,356,10,358,145,13,19,1,7,...,82,33,246,221,7,8,233,341,0,0

In [39]:
df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [40]:
X=df.drop('RainTomorrow',axis=1)

In [41]:
y=df['RainTomorrow']

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [44]:
X_train.shape

(116368, 21)

In [45]:
y_train.shape

(116368,)

In [46]:
import tensorflow as tf
from tensorflow import keras

In [47]:
model=keras.Sequential([
    keras.layers.Dense(100,input_shape=(21,),activation='relu'),
    keras.layers.Dense(50,activation='relu'),
    keras.layers.Dense(20,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)
model.fit(X_train,y_train,epochs=5)

Epoch 1/5
3637/3637 [==============================] - 10s 2ms/step - loss: -7689.7290 - accuracy: 0.7315
Epoch 2/5
3637/3637 [==============================] - 9s 2ms/step - loss: -195765.2656 - accuracy: 0.7280
Epoch 3/5
3637/3637 [==============================] - 10s 3ms/step - loss: -1043419.2500 - accuracy: 0.7296
Epoch 4/5
3637/3637 [==============================] - 9s 2ms/step - loss: -3218604.7500 - accuracy: 0.7238
Epoch 5/5
3637/3637 [==============================] - 9s 2ms/step - loss: -7599378.5000 - accuracy: 0.7239

In [48]:
model.evaluate(X_test,y_test)

910/910 [==============================] - 2s 2ms/step - loss: -11583939.0000 - accuracy: 0.7649

[-11583939.0, 0.7649182081222534]

In [50]:
y_predict=model.predict(X_test)

910/910 [==============================] - 2s 2ms/step

In [51]:
y_predict[0:10]

array([[0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.]], dtype=float32)

In [52]:
y_test[0:10]

65656     0
105830    0
101111    0
73191     0
88416     1
91452     1
28945     0
96485     0
100793    0
92055     0
Name: RainTomorrow, dtype: int64

In [53]:
from sklearn.metrics import classification_report

In [54]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.81      0.93      0.86     21989
           1       0.48      0.28      0.36      6433
           2       0.00      0.00      0.00       670

    accuracy                           0.76     29092
   macro avg       0.43      0.40      0.41     29092
weighted avg       0.72      0.76      0.73     29092

/Users/fidaalibaig/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/fidaalibaig/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/fidaalibaig/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))