# Importing Librarires

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading Dataset

In [4]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Data Preprocessing

In [6]:
df.shape

(7043, 21)

In [7]:
df=df.drop('customerID',axis=1)

In [8]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [10]:
df.MonthlyCharges.values

array([ 29.85,  56.95,  53.85, ...,  29.6 ,  74.4 , 105.65])

In [11]:
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [64]:
df[pd.to_numeric(df.TotalCharges,errors='coerce').isnull()].head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No

In [14]:
df1=df[df.TotalCharges!=' ']

In [15]:
df1.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
df1.shape

(7032, 20)

In [17]:
pd.to_numeric(df1.TotalCharges)

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7032, dtype: float64

In [18]:
df1[df1.Churn=='No'].tenure

0        1
1       34
3       45
6       22
7       10
        ..
7037    72
7038    24
7039    72
7040    11
7042    66
Name: tenure, Length: 5163, dtype: int64

In [19]:
df1[df1.Churn=='Yes'].tenure

2        2
4        2
5        8
8       28
13      49
        ..
7021    12
7026     9
7032     1
7034    67
7041     4
Name: tenure, Length: 1869, dtype: int64

In [26]:
df1.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

# LabelEncoder

In [124]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le=LabelEncoder()
for i in df1.columns:
    df1[i]=le.fit_transform(df1[i])

/var/folders/cv/mtf0qnws2jvbfff1vk2xrhpr0000gn/T/ipykernel_3311/1102673952.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[i]=le.fit_transform(df1[i])

In [29]:
df1

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,0,0,1,0,0,2,0,0,0,0,0,1,2,142,2504,0
1,1,0,0,0,33,1,0,0,2,0,2,0,0,0,1,0,3,497,1465,0
2,1,0,0,0,1,1,0,0,2,2,0,0,0,0,0,1,3,435,156,1
3,1,0,0,0,44,0,1,0,2,0,2,2,0,0,1,0,0,266,1399,0
4,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,2,728,924,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,23,1,2,0,2,0,2,2,2,2,1,1,3,990,1596,0
7039,0,0,1,1,71,1,2,1,0,2,2,0,2,2,1,1,1,1339,5697,0
7040,0,0,1,1,10,0,1,0,2,0,0,0,0,0,0,1,2,137,2993,0
7041,1,1,1,0,3,1,2,1,0,0,0,0,0,0,0,1,3,794,2659,1
7042,1,0,0,0,65,1,0,1,2,0,2,2,2,2,2,1,0,1387,5406,0

In [30]:
df1.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [31]:
X=df1[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges',]]

In [32]:
y=df1['Churn']

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [35]:
X_train.shape

(5625, 19)

In [36]:
X_test.shape

(1407, 19)

In [37]:
y_train.shape

(5625,)

In [38]:
y_test.shape

(1407,)

In [39]:
len(X_train.columns)

19

In [66]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import classification_report

# Model Building

In [121]:
def Neural_network(X_train,y_train,X_test,y_test,loss,weights):
    model=keras.Sequential([
        keras.layers.Dense(19,input_shape=(19,),activation='relu'),
        keras.layers.Dense(19,activation='relu'),
        keras.layers.Dense(19,activation='relu'),
        keras.layers.Dense(1,activation='sigmoid')
    ])
    model.compile(
        optimizer='adam',
        loss='binary_crossentropy',
        metrics=['accuracy']
    )
    y_preds=model.fit(X_train, y_train, epochs=5)
    if weights==-1:
        model.fit(X_train,y_train,epochs=10)
    else:
        model.fit(X_train,y_train,class_weight=weights)
    print(model.evaluate(X_test,y_test))
    y_pred=model.predict(X_test)
    y_pred=np.round(y_pred)
    print(classification_report(y_pred,y_test))
    return y_preds

# Under Sampling

In [68]:
y_test.value_counts()

0    1001
1     406
Name: Churn, dtype: int64

In [81]:
count_class_0,count_class_1=df1.Churn.value_counts()
df_class_0=df1[df1['Churn']==0]
df_classa_1=df1[df1['Churn']==1]

In [107]:
df_class_0.shape

(5163, 20)

In [108]:
df_class_1.shape

(1869, 20)

In [84]:
count_class_0,count_class_1

(5163, 1869)

In [82]:
df_class_0.shape

(5163, 20)

In [102]:
df_class_0_under=df_class_0.sample(count_class_1)

In [106]:
df_class_0_under.shape

(1869, 20)

In [111]:
df_test_under=pd.concat([df_class_0_under,df_class_1],axis=0)

In [112]:
df_test_under.shape

(3738, 20)

In [115]:
df_test_under.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
4160,1,0,0,0,25,1,0,0,2,0,0,2,2,2,1,0,0,806,1506,0
5191,0,0,1,1,22,1,2,0,2,2,2,2,2,2,2,1,1,1114,1818,0
2225,1,0,0,0,32,0,1,0,0,2,0,0,2,0,1,1,2,227,565,0
359,1,0,1,1,41,1,2,1,2,0,0,0,2,2,1,0,2,1228,3432,0
5688,1,0,1,1,40,1,0,2,1,1,1,1,1,1,2,1,3,29,6280,0

In [116]:
df_test_under.Churn.value_counts()

0    1869
1    1869
Name: Churn, dtype: int64

In [117]:
X=df_test_under.drop('Churn',axis=1)
y=df_test_under['Churn']

In [118]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=15,stratify=y)

In [119]:
y_train.value_counts()

0    1495
1    1495
Name: Churn, dtype: int64

In [123]:
Neural_network(X_train,y_train,X_test,y_test,'binary_crossentropy',-1)

Epoch 1/5
94/94 [==============================] - 1s 3ms/step - loss: 14.0193 - accuracy: 0.5846
Epoch 2/5
94/94 [==============================] - 0s 3ms/step - loss: 1.1362 - accuracy: 0.6281
Epoch 3/5
94/94 [==============================] - 0s 3ms/step - loss: 0.6078 - accuracy: 0.7207
Epoch 4/5
94/94 [==============================] - 0s 3ms/step - loss: 0.7241 - accuracy: 0.6890
Epoch 5/5
94/94 [==============================] - 0s 3ms/step - loss: 0.6731 - accuracy: 0.6910
Epoch 1/10
94/94 [==============================] - 0s 2ms/step - loss: 0.6820 - accuracy: 0.6936
Epoch 2/10
94/94 [==============================] - 0s 3ms/step - loss: 0.7613 - accuracy: 0.6863
Epoch 3/10
94/94 [==============================] - 0s 3ms/step - loss: 0.6639 - accuracy: 0.7137
Epoch 4/10
94/94 [==============================] - 0s 3ms/step - loss: 0.8203 - accuracy: 0.6799
Epoch 5/10
94/94 [==============================] - 0s 3ms/step - loss: 0.6556 - accuracy: 0.7140
Epoch 6/10
94/94 [==============================] - 0s 4ms/step - loss: 0.6955 - accuracy: 0.6957
Epoch 7/10
94/94 [==============================] - 1s 6ms/step - loss: 0.6269 - accuracy: 0.7197
Epoch 8/10
94/94 [==============================] - 0s 3ms/step - loss: 0.6487 - accuracy: 0.7100
Epoch 9/10
94/94 [==============================] - 0s 3ms/step - loss: 0.9548 - accuracy: 0.6756
Epoch 10/10
94/94 [==============================] - 0s 3ms/step - loss: 0.6924 - accuracy: 0.7084
24/24 [==============================] - 0s 2ms/step - loss: 0.5816 - accuracy: 0.7233
[0.5816430449485779, 0.7232620120048523]
24/24 [==============================] - 0s 2ms/step
              precision    recall  f1-score   support

         0.0       0.59      0.81      0.68       273
         1.0       0.86      0.68      0.76       475

    accuracy                           0.72       748
   macro avg       0.72      0.74      0.72       748
weighted avg       0.76      0.72      0.73       748